
.h100 {
  height: calc(100vh - 64px);
}

.w100 {
  width: 100vw;
}

.mr20 {
  margin: 20px;
}

.errorTextBlock {
  margin: 20px;
  text-align: center;
  width: 100%;
}

.calendarRow {
  margin: 0 auto;
  max-width: 1200px;
}

.detailEventBlock{
  padding: 10px;
  margin: 3px auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 5px;
}

.detailButtonsWrapper {
  margin: 30px auto;
  width: 90%;
  max-width: 700px;
}

.alItCenter{
  align-items: center;
}